@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --blue: #01ACFD;
    --orange: #FEA301;
    --balck: #111111;
    --white: #F7F7F7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

/*share styles*/

.container {
    max-width:1160px;
    margin: auto;
}
main > section {
    margin-bottom:70px;
}



/*navbar style*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 102px;
}
.logo {
    display: flex;
    align-items: center;
    flex: 0 0 20%;
}
.logo img {
    width:62px;
    height:62px;
}
.logo h1 {
    font-size: 2rem;
    font-weight:bold;
    line-height: 2rem;
    color: rgba(17, 17, 17, 1);
}
#check {
    display: none;
}
.nav-container {
    flex: 0 0 60%;
}
.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-container ul li {
    list-style: none;
}
.nav-container ul li a {
    text-decoration: none;
}
.home {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: bold;
    color:var(--orange);
}
.about {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: bold;
    color:var(--blue);
}
.facilities {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: bold;
    color:#05D4DF;
}
.admission {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: #5D58EF;
}

.nav-btn {
    flex: 0 0 20%;
    text-align: right;
}
.nav-button {
    text-decoration: none;
    background-color: var(--orange);
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    color: var(--white);
}


/*hero section style*/

.hero-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-text {
    flex: 0 0 640px;
}
.hero-text-title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.8rem;
    color: var(--balck);
    padding-right: 65px;
}
.empower {
    color: var(--orange);
}
.toward{
    color: rgba(1, 172, 253, 1);
}
.hero-text-des {
    font-size: 1.25rem;
    color:var(--balck);
    margin:24px auto;
}
.hero-text-btn {
    background-color: var(--balck);
    padding: 10px 30px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
}
.hero-img {
    flex: 0 0 468px;
}



/*Curriculum section style*/
.curriculum-wrap{
    margin-top: 80px;
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.container-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: var(--balck);
    text-align: center;
    margin-bottom: 70px;
}
.curriculum-cards-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:29px;
}

.curriculum-card-kinder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #DEF5FF;
    border-radius: 18px;
    background-image: linear-gradient(#DEF5FF , #FFFFFF 40%);
}
.curriculum-card-elementary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #FFF4DC;
    border-radius: 18px;
    background-image: linear-gradient(#FFF4DC , #FFFFFF 40%);
}
.curriculum-card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #F2E8FF;
    border-radius: 18px;
    background-image: linear-gradient(#EEE1FF , #FFFFFF 40%);
}
.card-image {
    margin-top: 65px;
}
.curriculum-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color:#202020;
    padding: 36px 0;
}
.curriculum-card-des {
    font-size: 1rem;
    font-weight: 500;
    color:#808080;
    line-height: 1.8rem;
}

.read-more-kinder {
    font-size: 1rem;
    font-weight: bold;
    color:#64C8FF;
    text-decoration: none;
    margin: 38px 0 58px 0;

}
.read-more-elementary {
    font-size: 1rem;
    font-weight: bold;
    color: #F0AA00;
    text-decoration: none;
    margin: 38px 0 58px 0;
}
.read-more-middle {
    font-size: 1rem;
    font-weight: bold;
    color:#8700FF;
    text-decoration: none;
    margin: 38px 0 58px 0;

}

/*icon style*/
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.icon-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--orange);
    border-radius: 50%;
    color:var(--white);
}


/*stories section styles*/

.stories-wrap {
    background-image: url("../assets/bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.stories-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.fun-section {
    background-color: var(--white);
    border-radius: 16px;
    flex: 0 0 540px;

}
.fun-section img{
    border-radius: 16px 16px 0 0;
}

.fun-section-btn {
    background-color: var(--blue);
    text-decoration: none;
    color: var(--white);
    padding: 15px 21px;
    border-radius: 47px;
    margin-left: 38px;

}
.fun-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--balck);
    line-height: 2.2rem;
    margin: 36px 38px 51px ;
}
.fun-section-des {
    font-size: 1rem;
    font-weight: 500;
    color: var(--balck);
    line-height: 1.8rem;
    margin: 0 60px 34px 38px;
}




.story-section  {
    flex: 0 0 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.story img{
    border-radius: 16px 16px 0 0;
}
.story-btn {
    text-decoration: none;
    background-color:#95B226;
    color: var(--white);
    padding: 15px 21px;
    border-radius: 47px;
    width: 174px;
    height: 38px;
    margin-left: 38px;
    margin-top: -30px;
}
.story-title {
    margin: 21px 38px 28px 28px;
}





/*button section style*/
.central-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.central-btn a {
    text-decoration: none;
    display: inline-block;
    background-color: var(--balck);
    color: var(--white);
    padding: 10px 60px;
    border-radius: 12px;
}



/*footer section style*/
.footer-wrap {
    width: 100%;
    height: 519px;
    background-color: var(--blue);
}

.footer-container {
    max-width:1070px;
    height:222px ;
    margin: 123px;
    background-color: #01ACFD;
}
.footer-flex-container {
    display: flex;
    justify-content: space-around;
    color: var(--white);


}
.logo-education {
    max-width: 400px;
}

.logo-education-flex {
    display: flex;
    align-items: center;
    max-width: 300px;

}
.logo-education-flex h3{
    font-size:2.5rem;
    font-weight: bold;


}
.logo-education p {
    color: var(--white);
    font-size: 1.25rem;
    margin: 35px 0 0 7px;
}

.footer-about {
    display: flex;
    flex-direction: column;
}
.footer-about h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}
.footer-about a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px;
}
.touch h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}



@media screen and (max-width: 576px) {
    .nav-container {
        position: absolute;
        left: 0;
        width: 100%;
        top:110px;
        height: 0;
        overflow: hidden;
    }
    .logo-text {
        display: none;
    }
    .nav-btn {
       display: none;
    }
    .manu-bar label span {
        display: block;
        height: 3px;
        width: 25px;
        background-color: black;
        margin-bottom: 5px;
        text-align: center;

    }
    .nav-container ul{
        flex-direction: column;
    }
    .navbar #check:checked ~ .nav-container {
        height: 100vh;
    }
    .container {
        max-width:100%;
        padding: 0 20px;
    }

    /*hero section*/
    .hero-wrap {
        border-top: 1px solid var(--orange);
    }

    .hero-flex-container{
        flex-direction: column-reverse;
    }
    .hero-text {
        text-align: center;
        flex: 0 0 425px;
    }

    /*card section*/
    .curriculum-cards-flex  {
        flex-direction: column;
    }

    /*icon section*/
    .icon-container-wrap{
        display: none;
    }

    .stories-grid-container   {
        grid-template-columns: repeat(1, 1fr);
        /*justify-content: center;*/
        /*align-items: center;*/
    }
    .fun-section img {
        width: 100%;
    }
    .story img {
        width: 100%;
    }
    /*footer style*/
    .footer-flex-container{
        flex-direction: column;
       text-align:left;
    }
}